/app/.env
.idea/.gitignore
.idea/FastAPI_pet_1.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/dictionaries/project.xml
.idea/inspectionProfiles/profiles_settings.xml
/tests/test_db.sqlite3
/.idea/dataSources.xml
